server:
  port: 8081

spring:
  application:
    name: megaticket-service-user
  
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
  
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/megaticket
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:271224}
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

megaticket:
  jwt:
    secret: MegaticketSecretKeyMustBeVeryLongAndSecureEnoughForHS256

logging:
  level:
    com.megaticket.user: debug
